openfusion_ros:
  openfusion_ros:
    ros__parameters:
      append_pose.max_rotation_deg: 15.0
      append_pose.min_translation: 0.1
      append_pose.max_poses: 250
      dataset.annotation_version: v1.0
      dataset.root_dir: /app/src/sage_evaluator/sage_datasets/matterport_isaac
      dataset.scene_name: 00800-TEEsavR23oF
      encode_image_every_n_frames: 1
      robot.camera.debug_images: false
      robot.camera.depth_topic: /depth/throttled
      robot.camera.qos_depth: 10
      robot.camera.qos_history: keep_last
      robot.camera.qos_reliability: best_effort
      robot.camera.rgb_topic: /rgb/throttled
      robot.child_frame: carter_camera_stereo_right
      robot.max_delta_time: 0.2
      robot.parent_frame: map
      robot.pose_source: topic
      robot.pose_topic: /openfusion_ros/camera_pose
      semantic.class_list_path: /app/src/sage_evaluator/datasets/matterport_isaac/00800-TEEsavR23oF/assets/classes.json
      semantic.max_score: 1.0
      semantic.min_score: 0.1
      semantic.mode: query
      semantic.topk: 3
      timer_period.publish_pcl: 3.0
      timer_period.update_pose: 0.1
      topic_names.panoptic_pointcloud: panoptic_pointcloud_rgb
      topic_names.pose_array: pose_array
      topic_names.query_pointcloud: query_pointcloud_xyzi
      topic_names.semantic_pointcloud: semantic_pointcloud_rgb
      topic_names.slam_pointcloud: slam_pointcloud
      use_sim_time: true
      user_prompt_topic: /user_prompt

  openfusion_tf_bridge:
    ros__parameters:
      robot:
        map_frame: "map"
        camera_frame: "carter_camera_stereo_right"
      camera_pose_topic: "camera_pose"
      rate_hz: 30.0